## Business Undestanding

### Bestimmung der Problemstellung: 
Hier wird an den Anwender die Anforderung gestellt, das Data Mining Projekt betriebswirtschaftlich auszurichten. Dabei werden die operationalen und betriebswirtschaftlichen Zielkriterien formuliert.
>Bei der vorliegenden Projektaufgabe gilt es, drei Prognosemodelle zu erstellen, um auf Basis der vorliegenden Daten zu den Brunnen bestimmen zu können, welche der gegebenen Brunnen funktionieren, welche nicht und welche repariert werden müssen. Dabei soll anhand der ML-Pipeline, das heißt dem CRISP-DM Modell vorgegangen werden und die Güte der einzelnen Modelle anhand der AUC auf den Testdaten qualifiziert werden.

### Situationsbewertung: 
Durch die Situationsbewertung werden vorhandene Software- sowie Personalressourcen, die für das Data Mining-Projekt zur Verfügung stehen, bestimmt. Zudem sind mögliche Risiken, die während des Data Mining-Projektes auftreten können, aufzuführen.
>Bewertung

### Bestimmung analytischer Ziele:
Ausgehend von der zuvor bestimmten betriebswirtschaftlichen Problemdefinition (z.B. zielgerichtete Ansprache der Kunden) müssen dazu die erforderlichen Datenanalyseaufgaben (z.B. Kundensegmentierung, Scoring-Verfahren zur Kampagnenoptimierung etc.) ermittelt werden. Zudem müssen die Erfolgskriterien für das Data Mining-Projekt bestimmt werden (z.B. Steigerung der Responsequote von Kampagnen um 3% bei weniger Ressourceneinsatz, Ansprache des Kunden nach Verhaltensmustern etc.).
>Ziele


### Erstellung des Projektplans: 
Der Projektplan beschreibt die beabsichtigten Ziele des Data Mining-Projektes, dazu gehört:
Auflistung der einzelnen Schritte mit Zeitspanne
Beurteilung möglicher Risiken (Verzögerungen, Ursachen für ein Scheitern des Projektes etc.)
Prüfung der zur Verfügung stehenden Ressourcen (wie Mitarbeiter ; Hardware; Software z.B. Data Warehouse, Data Mining-Werkzeuge; Datenbestand)
>Plan

## Data Understanding

### Daten sammeln: 
Hier werden die benötigten Daten für die Analyse beschaffen und, wenn erforderlich, in bereits bestehende Datenmengen integriert. Der Analyst sollte Probleme, die bei der Datenbeschaffung auftreten, stets dokumentieren, um mögliche Diskrepanzen bei einem Folgeprojekt in der Zukunft zu vermeiden.
>Datensätze

In [1]:
# Einlesen der vorliegenden Datensätze
import pandas as pd
train_data = pd.read_csv("pump_train.csv")
test_data = pd.read_csv("pump_test.csv")

### Daten beschreiben: 
In diesem Schritt gilt es, ein allgemeines Verständnis für die Daten zu erlangen. Zudem werden die Eigenschaften der Daten beschrieben, wie z.B. Quantität der Daten, Formateigenschaften, Anzahl der Einträge und Felder sowie Eigenschaften der Felder. Die entscheidende Frage die sich der Analyst stellen sollte ist, ob die vorliegenden Daten der Datenanalyse genügen um das Projekt erfolgreich abzuschließen.
>Beschreibung der Daten

In [2]:
# Verwenden verschiedener Funktionen, um den Datensatz an sich besser zu beschreiben
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50490 entries, 0 to 50489
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     50490 non-null  int64
 1   amount_tsh             50490 non-null  float64
 2   date_recorded          50490 non-null  object
 3   funder                 47396 non-null  object
 4   gps_height             50490 non-null  int64
 5   installer              47380 non-null  object
 6   longitude              50490 non-null  float64
 7   latitude               50490 non-null  float64
 8   wpt_name               50490 non-null  object
 9   num_private            50490 non-null  int64
 10  basin                  50490 non-null  object
 11  subvillage             50175 non-null  object
 12  region                 50490 non-null  object
 13  region_code            50490 non-null  int64
 14  district_code          50490 non-null  int64
 15  lga                    50490 non-null  object
 16  ward                   50490 non-null  object
 17  population             50490 non-null  int64
 18  public_meeting         47644 non-null  object
 19  recorded_by            50490 non-null  object
 20  scheme_management      47221 non-null  object
 21  scheme_name            26548 non-null  object
 22  permit                 47899 non-null  object
 23  construction_year      50490 non-null  int64
 24  extraction_type        50490 non-null  object
 25  extraction_type_group  50490 non-null  object
 26  extraction_type_class  50490 non-null  object
 27  management             50490 non-null  object
 28  management_group       50490 non-null  object
 29  payment                50490 non-null  object
 30  payment_type           50490 non-null  object
 31  water_quality          50490 non-null  object
 32  quality_group          50490 non-null  object
 33  quantity               50490 non-null  object
 34  quantity_group         50490 non-null  object
 35  source                 50490 non-null  object
 36  source_type            50490 non-null  object
 37  source_class           50490 non-null  object
 38  waterpoint_type        50490 non-null  object
 39  waterpoint_type_group  50490 non-null  object
 40  status_group           50490 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 15.8+ MB

In [3]:
train_data.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,50490.000000,50490.000000,50490.00000,50490.000000,5.049000e+04,50490.000000,50490.000000,50490.000000,50490.000000,50490.000000
mean,37113.857695,319.158123,669.71428,34.078591,-5.708336e+00,0.459497,15.280511,5.641731,180.913389,1301.724520
std,21447.241039,2987.517185,693.12333,6.553382,2.943806e+00,10.413455,17.550035,9.668596,479.854870,951.258506
min,0.000000,0.000000,-90.00000,0.000000,-1.164838e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18517.250000,0.000000,0.00000,33.084409,-8.541643e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37027.500000,0.000000,371.00000,34.906548,-5.019807e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55636.750000,20.000000,1322.00000,37.178899,-3.327550e+00,0.000000,17.000000,5.000000,215.750000,2004.000000
max,74247.000000,350000.000000,2770.00000,40.345193,-2.000000e-08,1402.000000,99.000000,80.000000,30500.000000,2013.000000

In [4]:
train_data.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,12237,30.0,2013-01-23,Government Of Tanzania,107,District Council,39.360880,-10.295705,Zahanati Membe,0,...,soft,good,enough,enough,river,river/lake,surface,communal standpipe multiple,communal standpipe,functional
1,24566,0.0,2013-02-07,Private Individual,0,Edward,32.644074,-3.859265,Kwa Mama Wini,0,...,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,other,other,functional
2,20536,0.0,2011-07-15,Sawaka,0,DWE,30.999792,-1.721771,Kwasimon,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other,non functional
3,30633,200.0,2011-03-25,Government Of Tanzania,2142,Commu,34.060324,-9.335288,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
4,2993,0.0,2011-02-17,African Muslim Agency,290,District Council,38.862874,-7.165410,Msikitini,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,hand pump,hand pump,non functional

In [5]:
train_data.shape

(50490, 41)

### Untersuchung der Daten: 
Zur Untersuchung der Daten werden erste Analysen mit den Daten betrieben. Hierzu werden Reports erstellt, um die ersten Erkenntnisse und Hypothesen zu visualisieren.
>erste Erkenntnisse/ Hypothesen

### Bewertung der Daten: 
An diesem Punkt wird die Qualität des Datenbestandes bewertet. Es sollte festgestellt werden, ob die Datenmenge für die Analyse ausreichend und verwendbar ist. Besonders ist auf fehlende Attributwerte zu achten.
>Bewertung der Daten

## Data Preperation

### Auswahl der Daten:
Die Auswahl der Daten für das Data Mining hängt stark von den Zielen ab, die man für das Data Mining-Projekt definiert. Hier spielen die Datenqualität und die technischen Gegebenheiten eine große Rolle. Es wird eine Selektion der Daten vorgenommen, wie z.B. eine Auswahl aller Kunden, die einen Umsatz von mehr als 100 Euro im Monat generieren. Am Ende dieses Prozesses sollte sich deutlich zeigen, welche Datenmengen(-Sets) in die Analyse aufgenommen werden oder ausgeschlossen werden.
>Auswahl der Daten

### Bereinigung der Daten: 
Ohne eine Bereinigung der Daten ist ein erfolgreiches Data Mining-Projekt fraglich. Es gilt eine saubere Datenmenge auszuwählen oder die Datenmenge muss bereinigt sein, um das gewünschte Ergebnis in der Modellierung zu erreichen.
>Bereinigung

### Transformation und Integration der Daten: 
Um die Daten in eine brauchbare Darstellungsform zu bringen, transformiert man die Daten. Die Transformation kodiert Daten und verändert deren Granularität durch Aggregation oder Disaggregation. Wichtige Kennzahlen, die für eine Analyse zu erstellen sind, könnten z.B. Umsatz pro Kunde, Deckungsbeitrag pro Kunde oder Umsatzanteil in Produktgruppe pro Kunde etc. sein.
>Transformation

### Format Data: 
In einigen Fällen muss für die Modellierung eine einfache Anpassung des Datenformates erfolgen, z.B. Anpassung des Datentyps.
>Anpassung der Daten

## Modeling

### Auswahl der Modellierungstechnik: 
Hier gilt es eine Modellierungstechnik auswählen, mit der man das Modell erstellt
>Aufzählung der möglichen Modelle

### Testmodell erstellen: 
Nach Auswahl des Modells wird ein Testmodell erstellt, um Qualität und Genauigkeit des Modells zu überprüfen. In überwachten Verfahren, wie der Klassifikation, ist es üblich, die Fehlerraten als Qualitätsmaß zu nutzen.
>Durchführung aller Modelle

### Bewertung des Modells: 
Hier ist das Modell nach der im Vorfeld definierten Data Mining-Zielsetzung zu bewerten. Des Weiteren gilt es die Data Mining-Ergebnisse in Bezug auf die betriebswirtschaftliche Fragestellung zu bewerten.
>Bewertung der Testmodelle, Auswahl des besten für die einzelnen drei Modelle

## Evaluation

### Bewerten der Resultate: 
In diesem Schritt bewertet man, inwieweit das Modell die Projektziele erreicht. Wenn die Ziele nicht erreicht sind, ist aufzuführen, aus welchen Gründen.
>RUC,...Bewerten

### Bewertung des Prozesses: 
Das Data Mining-Projekt wird rückblickend bewertet. Es wird festgestellt, ob alle wichtigen Faktoren betrachtet wurden und inwieweit die Attribute für zukünftige Data Mining-Projekte zu nutzen sind.
>Analyse, Bewertung

### Nächste Schritte festlegen: 
In diesem Schritt entscheidet der Projektleiter, ob das Projekt beendet ist und eingeführt wird.
>Ausblick geben

## Deployment

Die Deployment-Phase bildet in der Regel die Endphase eines Data Mining-Projektes. Hier werden die gewonnenen Erkenntnisse so geordnet und präsentiert, sodass für den Auftraggeber die Möglichkeit besteht dieses Wissen zu nutzen. Dazu gehört eine eventuelle Implementierungsstrategie, die Überwachung der Gültigkeit der Modelle, ein zusammenfassender Bericht und eine Präsentation.
>Fazit

CRISP-DM Modell Grundlagen vgl. https://datasolut.com/crisp-dm-standard/amp/